body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,#0f172a,#0ea5a4); 
}

.profile-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .back {
    text-decoration: none;
    color: #011c19;
    font-weight: 600;
}

#editAvatarBtn {
    margin-top: 12px;
    background: #10b981;
}


.profile-box {
    margin-top: 20px;
    background: white;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    gap: 40px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.08);
}

.profile-left {
    width: 30%;
    text-align: center;
}

.profile-left .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #4f46e5;
}

.profile-left h2 {
    margin-top: 15px;
}

.role {
    color: #555;
    font-size: 14px;
}

.edit-btn {
    padding: 10px 20px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-right {
    width: 70%;
}

h3 {
    margin-top: 5px;
    color: #4f46e5;
}

.info-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-item label {
    font-size: 13px;
    color: #666;
}

.info-item p {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.change-btn {
    padding: 8px 15px;
    background: #10b981;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 750px) {
    .profile-box {
        flex-direction: column;
        text-align: center;
    }

    .profile-right {
        width: 100%;
    }
}
