* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f0f4f8;
}


.signup-container {
    display: flex;
    height: 100vh;
}


.left-panel {
    width: 45%;
    background: linear-gradient(135deg, #0f172a, #0ea5a4);
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.brand {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-logo {
    width: 18px;
    height: 18px;
    object-fit: contain;
    border-radius: 10px;
}

.brand-name {
    font-size: 60px;
}


h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.85;
    margin-bottom: 30px;
}


.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signup-form label {
    font-size: 14px;
    margin-bottom: -6px;
}

.signup-form input {
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.85);
    transition: 0.3s;
}

.signup-form input:focus {
    background: #fff;
    box-shadow: 0 0 6px rgba(255,255,255,0.7);
}


.btn {
    padding: 12px;
    background: #c4f492;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.btn:hover {
    background: #b2e681;
}


.links {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #e4f9c9;
    text-decoration: none;
    font-size: 14px;
}

.links .btn {
    padding: 8px 16px;
    background: rgba(255,255,255,0.2);
}


.right-panel {
    width: 55%;
    background: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2")
        no-repeat center center / cover;
    position: relative;
}


.overlay-text {
    position: absolute;
    bottom: 60px;
    left: 60px;
    background: rgba(0,0,0,0.55);
    padding: 22px 32px;
    border-radius: 10px;
    color: #fff;
}

.overlay-text h2 {
    font-size: 28px;
    font-weight: 600;
}

.overlay-text p {
    margin-top: 8px;
    font-size: 15px;
    opacity: 0.9;
}

@media (max-width: 900px) {
    .signup-container {
        flex-direction: column;
        height: auto;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        height: 55vh;
    }

    .overlay-text {
        left: 20px;
        bottom: 20px;
    }
}
