<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCraft Admin Panel</title>
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>

<div class="admin-container">

    <aside class="sidebar">
        <h2 class="logo">💻 CodeCraft<br><span>Admin</span></h2>

        <ul class="menu">
            <li class="active"><a href="dashboard.html" >Dashboard</a></li>
            <li><a href="users.html">Users</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="enrollments.html">Enrollments</a></li>
            <li><a href="payments.html">Payments</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="../view/login.html" class="Logout">Logout</a></li>
        </ul>
    </aside>

    <main class="main">

        <header class="topbar">
            <h1>Dashboard</h1>
            <div class="admin-info">
                <img src="https://i.pravatar.cc/100" alt="admin-img" id="admin">
                <span>Admin</span>
            </div>
        </header>

        <section class="cards">
            <div class="card">
                <h3>Total Users</h3>
                <p>12,430</p>
            </div>
            <div class="card">
                <h3>Total Courses</h3>
                <p>48</p>
            </div>
            <div class="card">
                <h3>Enrollments</h3>
                <p>6,120</p>
            </div>
            <div class="card">
                <h3>Monthly Revenue</h3>
                <p>BDT 99,870</p>
            </div>
        </section>

        <section class="table-section">
            <h2>Recent Users</h2>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Joined</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Mahim</td>
                        <td>mahim@example.com</td>
                        <td>Today</td>
                    </tr>

                    <tr>
                        <td>Meraz</td>
                        <td>meraz@example.com</td>
                        <td>1 Day Ago</td>
                    </tr>

                    <tr>
                        <td>fahim</td>
                        <td>fahim@example.com</td>
                        <td>2 Days Ago</td>
                    </tr>

                    <tr>
                        <td>abu</td>
                        <td>abu@example.com</td>
                        <td>3 Days Ago</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</div>
<script src="../assets/js/admin.js"></script>
</body>
</html>
